orm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
					 xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Entity" type="EntityType"/>
	<xs:complexType name="EntityType">
		<xs:sequence>
			<xs:element type="ColumnDefinitionType" name="ColumnDefinition"/>
			<xs:element type="PrimaryKeyType" name="PrimaryKey"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="tableName" use="required"/>
	</xs:complexType>
	<xs:complexType name="KeyType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DefinitionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" use="required"/>
				<xs:attribute type="xs:string" name="type" use="required"/>
				<xs:attribute type="xs:boolean" name="null" use="optional" default="false"/>
				<xs:attribute type="xs:string" name="extra" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ColumnDefinitionType">
		<xs:sequence>
			<xs:element type="DefinitionType" name="Definition" maxOccurs="unbounded" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrimaryKeyType">
		<xs:sequence>
			<xs:element type="KeyType" name="Key" maxOccurs="unbounded" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
